header {
 padding:3em 3em 0px 3em;
 text-align: center;
 background-color: #2E40B3;
 color: white;
}


body {
	margin: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	font-family: 'Roboto', sans-serif;


}

img {

    border-style: none;
    width: 65%;
    font-weight: 300;
    margin-right: 20%;
    margin-left: 20%;
    padding-top: 20px;
    padding-bottom: 20px;


  }
h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color:inherit;
  padding-top: 20px;
  padding-bottom: 3.5rem;

}

 p {
   text-align: center;
   padding-right: 8px;
   padding-left: 8px;
   line-height: 1.2;
 }

 h3 {
   text-align: center;
   padding-top: 20px;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   padding-bottom: 3.5rem;
   font-size: 2rem;

   color:inherit;
 }
 li {
   padding-left: 8px;
 }


section {
  padding-top: 32px;
  padding-bottom: 32px;
}


h1 {
  font-size: 2.5rem;
  padding-bottom: 3.5rem;
}

i,strong {
  padding-top: 8px;
  padding-bottom: 8px;
}
